{% extends 'bcm2837-rpi-3-b-32.jinja2' %}
{# Power control us via USB #}
{% set hard_reset_command = ['/usr/local/lab-scripts/snmp_pdu_control --hostname 192.168.0.33 --command reboot --port 6 --delay 20'] %}
{% set power_off_command = '/usr/local/lab-scripts/snmp_pdu_control --hostname 192.168.0.33 --command off --port 6' %}
{% set power_on_command = '/usr/local/lab-scripts/snmp_pdu_control --hostname 192.168.0.33 --command on --port 6' %}
{% set connection_list = ['uart0'] %}
{% set connection_tags = {'uart0': ['primary', 'telnet']} %}
{% set connection_commands = {'uart0': 'telnet ser2net 7001'} %} 

{% set recovery_mode_command = ['d', '\r'] %}
{% set recovery_exit_command = ['reset\r'] %} 
{% set flasher_deploy_commands = [{"name": "acquire", "command": '/usr/local/lab-scripts/sd-mux-ctrl -e SDW01 --ts'},
                                  {"name": "flash", "command": 'dd if={IMAGE} of=/dev/disk/by-id/usb-Generic_Ultra_HS-SD_MMC_000000264001-0:0 bs=1M conv=nocreat oflag=sync'},
                                  {"name": "release", "command": '/usr/local/lab-scripts/sd-mux-ctrl -e SDW01 --dut'}] %}
